.inside{
  margin: 20px;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 400px;
  padding: 10px;
}

.alignContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

input{
  border-radius: 10px;
}

.submit-button{
  border-radius: 10px;
  background-color: green;
  color: white;
  width: 1000px;
  font-size: 20px;
  font-family: cursive;
}

body{
  /* background-color: #85DCB8; */
  background-image: url('../public/background.jpeg');
}

